*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.float-left{
    float:left;
}

.clearfix{
    content: " ";
    display: table;
    clear: both;
}

.absolute{
    position:absolute;
}

body{
    width:100%;
    background-color:aqua;
    font-family:'whitney', 'sans-serif';
}

header{
    width: 100%;
    background-color: rgb(49, 97, 224);
}

.container{
    width: 90%;
    max-width: 1180px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
}


.logo{
    vertical-align: middle;
}

.main-nav{
    width:calc(100% - 168.01px);
    text-align: center;
}

.container nav ul li{
    list-style-type: none;
    display:inline;
    padding:20px;
}

.container nav ul li a{
    text-decoration: none;
    color:white;
}

/* Jambotron */

.jambotron{
    width:100%;
    height:55vh;
    position:relative;

    background-image:url(../img/jumbo.png);
    background-size:cover;
    background-position: center;
}

.jambotron-content{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    height:80px;
    text-align:center;
}